body {
 	margin: 30px;
 	padding:0;
 	background: url(personal.jpg) no-repeat;
 	background-size:cover;
 }
 h3 {

 	color: beige;
 	font-family:verdana;
 	

 }

 h1
 .boximg {

 	width: 200px;
 	height: 200px;

 }
 
 